/**
 * Base document styles
 */
html {
  font-size: 16px;
  color: var(--color-text);
  background: var(--gradient);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  position: relative;
  font: var(--font-default);
  margin: 0;
  min-height: 100vh;
}

strong {
  font-weight: var(--font-weight-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: var(--font-heading);
}

/* Make box-sizing inheritable */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Strip default anchor styles */
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

/* Images should be contained by default */
img {
  max-width: 100%;
  vertical-align: middle;
}

/* Patch hidden prop in Chrome/IE */
[hidden] {
  display: none !important;
}
