/**
 * Design system
 * Using Bloom as a foundation
 * https://bloom.style
 */
:root {
  /* Type scale */


  /* Typography */


  /* Colours */
  --color-primary: var(--color-black);
  --color-text: var(--color-black);

  /* Layout — Page */
  --content-max-width: 70rem;
  --page-gutter: 8vw;
  --page-gutter-offset: -8vw;
  --content-grid: minmax(var(--page-gutter), 1fr)
    minmax(0, var(--content-max-width)) minmax(var(--page-gutter), 1fr);

  /* Layout — Grids */
  --grid-gap-small: 2.5rem;
  --grid-offset-small: calc(0px - var(--grid-gap-small));
  --grid-gap: 4rem;
  --grid-offset: calc(0px - var(--grid-gap));

  /* Layout — Spacing */
  --spacing-0: 2rem;
  --spacing-1: 4rem;
  --spacing-2: 6rem;
  --spacing-3: 8rem;
  --spacing-4: 12rem;

  /* Layout — Constants */
  --section-gutter: var(--spacing-2);
  --section-gutter-double: calc(var(--section-gutter) * 2);
}

/* Mobile */
@media (max-width: 35em) {
  :root {
    --spacing-1: 3rem;
    --spacing-2: 4rem;
    --spacing-3: 6rem;
    --spacing-4: 8rem;

    --grid-gap-small: 1.5rem;
  }
}
